<div id="customer_details_container" class="shadow-sm p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <span>
                    Nome
                </span>
                <input class="input_style" type="text" name="name" value="Norway"><br>
            </div>
            <div class="col-3">
                <span>
                    NIF
                </span>
                <input class="input_style" type="text" name="FISCAL_CODE" value="Norway"><br>
            </div>
            <div class="col-3">
                <span>
                    C.Cidadão
                </span>
                <input class="input_style" type="text" name="city_location" value="Norway"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span>
                    Morada
                </span>
                <input class="input_style_large" size="35" type="text" name="address" value="Norway"><br>
            </div>
            <div class="col-3">
                <span>
                    Cidade
                </span>
                <input class="input_style" type="text" name="city" value="Norway"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>
                    Num .Tel
                </span>
                <input class="input_style" type="text" name="phone_number" value="Norway"><br>
            </div>
            <div class="col-3">
                <span>
                    Email
                </span>
                <input class="input_style" type="text" name="email" value="Norway"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>
                    Alias
                </span>
                <input class="input_style" type="text" name="nickname" value="Norway"><br>
            </div>
            <div class="col-6">
                <span>
                Obs.
                </span>
                <input class="input_style_large" type="text" name="observations" value="Norway"><br>
            </div>
        </div>
</div>