<div id="customer_details_container_header" class="shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <span>
                    Detalhes do Cliente
                </span>
            </div>
        </div>
    </div>
</div>
<div id="customer_details_container" class="shadow-sm p-3">
    <fieldset>
        <div class='row'>
            <div class='col-sm-4'>    
                <div class='form-group font-weight-bold'>
                    <label for="user_title">Nome</label>
                    <input class="form-control" id="user_title" name="user[title]" [(ngModel)]="NAME" size="30" type="text" />
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group font-weight-bold'>
                    <label for="user_firstname">NIF</label>
                    <input class="form-control" id="user_firstname" name="user[firstname]" required="true" [(ngModel)]="FISCAL_CODE" size="30" type="text" />
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group font-weight-bold'>
                    <label for="identity_card">Cartão Cidadão</label>
                    <input class="form-control" id="identity_card" name="user[identity_card]" required="true" [(ngModel)]="IDENTITY_CARD"  size="30" type="text" />
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-4'>    
                <div class='form-group font-weight-bold'>
                    <label for="phone_number">Número Telefone</label>
                    <input class="form-control" id="phone_number" name="user[phone_number]" [(ngModel)]="PHONE_NUMBER" size="30" type="text" />
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group font-weight-bold'>
                    <label for="email">Email</label>
                    <input class="form-control" id="email" name="user[email]" required="true" [(ngModel)]="EMAIL_ADDRESS" size="30" type="text" />
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group font-weight-bold'>
                    <label for="alias">Alias</label>
                    <input class="form-control" id="alias" name="user[alias]" required="true" [(ngModel)]="NICKNAME" size="30" type="text" />
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-6'>
                <div class='form-group font-weight-bold'>
                    <label for="address">Morada</label>
                    <input class="form-control required address" id="address" name="user[address]" required="true" [(ngModel)]="ADDRESS" size="30" type="text" />
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group font-weight-bold'>
                    <label for="city">Cidade</label>
                    <input class="form-control required city" id="city" name="user[city]" required="true" [(ngModel)]="CITY_LOCATION"  size="30" type="text" />
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div id="customer_details_container_header" class="shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <span>
                    Veículos registados do Cliente
                </span>
            </div>
            <div class="col-1">
                <!-- <i class="btn btn-success btn-sm button-side-by-side" (click)="addRepairDetail()">Adicionar</i> -->
                <i class="btn btn-warning btn-sm center_button" (click)="openModal('custom-modal-1')">Modal</i>
            </div>
        </div>
    </div>
</div>
<div id="customer_details_vehicle_container" *ngIf="dataSource_size == 0" class="shadow-sm p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4> Não existem veículos registos para este cliente.</h4>
            </div>
        </div>
    </div>
</div>
<!-- <div id="vehicle_details_container" *ngIf="ADD_REPAIR_DETAIL == true" class="shadow-sm p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 form-group">
                <label for="typeahead-basic">Search for a state:</label>
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</div> -->
<div id="customer_details_vehicle_container" *ngIf="dataSource_size > 0" class="shadow-sm p-3">
    <div id="generic_row_header_inner" class="shadow-sm">
        <div class="container-fluid">
            <div class="row">
              <div class="col-2">Matrícula</div>
              <div class="col-2">Marca</div>
              <div class="col-2">Modelo</div>
              <div class="col-1">Kms</div>
              <div class="col-2">Cilindrada</div>
              <div class="col-2">Combustível</div>
            </div>
          </div>
    </div>
    <div id="generic_row" class="shadow-sm bg-white rounded" *ngFor="let vehicle of dataSource | filter: searchText">
        <div class="container-fluid">
            <div class="row">
              <div class="col-2">{{vehicle.REGISTRATION_PLATE}}</div>
              <div class="col-2">{{vehicle.CAR_BRAND}}</div>
              <div class="col-2">{{vehicle.CAR_MODEL}}</div>
              <div class="col-1">{{vehicle.KMS_REGISTERED}}</div>
              <div class="col-2">{{vehicle.CYLINDER_CAPACITY}}</div>
              <div class="col-2">{{vehicle.FUEL}}</div>
              <div id="buttondiv">
                <i class="btn btn-warning btn-sm button-side-by-side" (click)="vehicleDetails(vehicle)">Details</i>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="customer_details_container_header" class="shadow-sm bottom-margin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <span>
                    Conta Actual do Cliente
                </span>
            </div>
        </div>
    </div>
</div>

<jw-modal id="custom-modal-1" style="height:200px; width:600px; background-color: gainsboro;">
    <div class="container-fluid">
        <div class="row" style="font-size: 18px;font-weight: bold; margin-bottom: 10px;">
            <span>
                Associar Veículo ao cliente
            </span>
        </div>
        <div class="row" style="border-bottom: thick; border-color: red; border-style: none none solid none;margin-bottom: 1px;margin-bottom: 20px;">
        </div>
        <div class="row justify-content-center">
                <div class="col-8" style="margin-top: 20px; margin-bottom: 10px">
                    <!-- <label for="typeahead-basic" style="font-size: 16px;font-weight: bold; text-align: center;">Matrícula:</label> -->
                    <input id="typeahead-basic" type="text" placeholder="Pesquisar Matrícula" style="text-align: center;" size="60" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" (change)="logEvent(model)"/>
                </div>
        </div>
        <div class="row shadow-sm" *ngIf="ADD_REPAIR_DETAIL == true" style="margin-top: 20px; margin-bottom: 10px; border-bottom: thin; border-top: thin ;border-color: red; border-style: solid none solid none;">
                <div class="col-6" style="margin-top: 20px; margin-bottom: 20px;">
                    <label for="phone_number">Marca</label>
                    <input class="form-control" id="phone_number" name="user[phone_number]" [(ngModel)]="VEHICLE_BRAND" type="text" />
                </div>
                <div class="col-6" style="margin-top: 20px; margin-bottom: 20px;">
                    <label for="phone_number">Modelo</label>
                    <input class="form-control" id="phone_number" name="user[phone_number]" [(ngModel)]="VEHICLE_MODEL" type="text" />
                </div>
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 10px; margin-top: 20px;">
                        <div class="col-10" style="margin-bottom:10px;">
                        </div>
                        <div class="col-2" style="margin-bottom:10px;">
                            <button class="btn btn-sm btn-success" (click)="closeModal('custom-modal-1');">Associar</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row" style="margin-bottom: 1px; margin-top: 20px;">
                <div class="col-md-2 offset-md-10" style="margin-bottom:1    0px;">
                    <button class="btn btn-sm btn-danger" (click)="closeModal('custom-modal-1');">Fechar</button>
                </div>
        </div>
    </div>
</jw-modal>