@media screen and (max-width:1024px){
    .nav-toggle{
        display:block;
    }
    #menu-toggle{
        display:block;
        margin-left:0px;
        transition: all 0.3s;
    }
    #main-header{
        width:100%;
        h1.main-title{
            padding-left:60px;
        }
        &.active-nav{
            .nav-toggle{
                margin-left:180px;
                transition: all 0.3s;
            }
            h1.main-title{
                padding-left: 240px;
                transition: all 0.3s;
            }
        }
    }
    #sidebar{
        position: fixed;
        height: 100vh;
        z-index: 10;
        left:-180px;
        transition: all 0.3s;
        &.active{
            left:0px;
            transition: all 0.3s;
        }
    }
    #content{
        padding-left:0px;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px){
    .container{
        width:1196px;
    }
}

@media screen and (min-width:1401px){
    .container{
        width:100%;
    }
}

#sidebar{
    transition: all 0.3s;
    width: 180px;
    background-color: #a2a2a2;
    min-width:180px;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top:0px !important;
    .sidebar-header{
        background:transparent;
        width: 100%;
        float:  left;
        padding: 18px 0px;
        text-align: center;
    }
    ul.components{
        width:100%;
        float:left;
        padding:0px;
        margin-bottom: 0px;
        border: none !important;
        li{
            color:#fff;
            a{
                padding:9px 0px;
                background-color: rgba(255, 255, 255, 0.02);
                color:#fff !important;
                transition: all 0.3s;
                span.menu-icon-wrap {
                    width: 40px;
                    text-align: center;
                }
                &:hover, &.active-nav{
                    transition: all 0.3s;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
            a:before{
                content:"" !important;
            }
           
        }
        li.active{
            a{
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    #settings-nav {
        position: absolute;
        bottom: 0;
    }
    &.active{
        max-width: 180px;
    }
}

#main-content{
    width:100%;
    float:left;
    margin-top:36px;
    background:transparent;
    position:relative;
    z-index:0;
    padding-top:72px;
    padding-bottom:72px;
    table-layout: fixed;
    width: 100%;
}

.mainDiv {
    background-color:rgb(243, 243, 243);
    width:2076px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content{
    width:100%;
    float:left;
    padding:0px;
    background:#f3f1f1;
    padding-left: 180px;
}

.container {
    padding-left: 10px;
    table-layout: fixed;
    width: 100%;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}