@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
table {
    width: 100%;
}
  
  .mat-form-field {
    font-size: 28px;
    width: 100%;
  }
  
  td, th {
    //display: -webkit-box; // to make td as block
    //word-break: break-word; // to make content justify
    width: 7%;
  }

  .mat-header-cell, .mat-sort-header {
    background-color: rgb(210, 235, 255);
    font-weight: bold;
  }

  .mat-cell, .mat-header-cell { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-break: break-word; 
  }

.vehicle-table-header>.inner-wrap>div.header-order-remove {
    display: block;
    float: right;
    text-align: right;
}

.vehicle-table-header, .label-table-header{
    > .inner-wrap{
        background-color: #dadada;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color:#222;
        width:100%;
        float:left;
        > div {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 1.2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60px;
            span.light{
                font-weight:normal;
            }
        }
        > .header-order-products {
            line-height: 1.2;
        }
    }
}

.vehicle-table-content > .col-md-12:last-child ul.dropdown-menu.ng-isolate-scope {
    top: auto !important;
    bottom: 100% !important;
}

.vehicle-inner-wrap{
    background-color: #ffffff;
    box-shadow:inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    width:100%;
    float:left;
    padding: 9px 0 0px;
    > div:first-child {
        text-indent: 12px;
        overflow: hidden;
    }
}

.table-item{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    line-height:2;
}

#vehicle-table {
    padding-top: 36px;
}

#vehicle-table {
    .table-heading-before {
        padding-bottom: 0px;
        line-height: 50px;
        //text-indent: 12px;
    }
    .header-actions {
        margin-bottom: 24px;
    }
}

.col-md-one-half{
  width:calc(8.33333333% * 1.5);
}

.vehicle-table-wrap {
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.25);
  //display: table-row-group;
}

.vehicle-table-header {
  > .inner-wrap{
      background-color: #dadada;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color:#222;
      width:100%;
      float:left;
      > div {
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 1.2;
          display: -webkit-box;
          flex-direction: column;
          justify-content: center;
          height: 60px;
          span.light{
              font-weight:normal;
          }
      }
      > .header-order-products {
          line-height: 1.2;
      }
  }
}

.vehicle-table-row {
  > .inner-wrap{
      background-color: #dadada;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color:#222;
      width:100%;
      float:left;
      > div {
          //padding-top: 5px;
          //padding-bottom: 5px;
          line-height: 1.2;
          display: -webkit-box;
          flex-direction: column;
          justify-content: center;
          height: 60px;
          span.light{
              font-weight:normal;
          }
      }
      > .header-order-products {
          line-height: 1.2;
      }
  }
}