@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
table {
    width: 100%;
}
  
  .mat-form-field {
    font-size: 28px;
    width: 100%;
  }
  
  td, th {
    //display: -webkit-box; // to make td as block
    //word-break: break-word; // to make content justify
    width: 7%;
  }

  .mat-cell, .mat-header-cell { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-break: break-word; 
  }