<!---
<p>vehicles works!</p>
<button (click)="myFunc()">Click Button</button>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of httpdata; let i = index">
        <td>{{vehicle.NAME}}</td>
        <td>{{vehicle.ADDRESS}}</td>
        </tr>
    </tbody>
</table>
-->
<mat-form-field [floatLabel]="'never'">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
  
  <div class="mat-elevation-z10">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="REGISTRATION_PLATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matri. </th>
        <td mat-cell *matCellDef="let row"> {{row.REGISTRATION_PLATE}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="CAR_BRAND">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
        <td mat-cell *matCellDef="let row"> {{row.CAR_BRAND}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="CAR_MODEL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
        <td mat-cell *matCellDef="let row"> {{row.CAR_MODEL}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="KMS_REGISTERED">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kms </th>
        <td mat-cell *matCellDef="let row"> {{row.KMS_REGISTERED}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="CYLINDER_CAPACITY">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cilin. </th>
        <td mat-cell *matCellDef="let row"> {{row.CYLINDER_CAPACITY}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="REGISTRATION_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Reg. </th>
        <td mat-cell *matCellDef="let row"> {{row.REGISTRATION_DATE}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="FABRICATION_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Fabr. </th>
        <td mat-cell *matCellDef="let row"> {{row.FABRICATION_DATE}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="VEHICLE_IDENTIFICATION_NUMBER">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Chassi </th>
        <td mat-cell *matCellDef="let row"> {{row.VEHICLE_IDENTIFICATION_NUMBER}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="KILLOWATT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kwh </th>
        <td mat-cell *matCellDef="let row"> {{row.KILLOWATT}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="HORSEPOWER">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº cv </th>
        <td mat-cell *matCellDef="let row"> {{row.HORSEPOWER}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="FUEL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Combus. </th>
        <td mat-cell *matCellDef="let row"> {{row.FUEL}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="CREATED_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data cria. </th>
        <td mat-cell *matCellDef="let row"> {{row.CREATED_DATE}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="MODIFIED_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data modi.. </th>
        <td mat-cell *matCellDef="let row"> {{row.MODIFIED_DATE}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  
