<div id="genericbardiv">
  <div class="container-fluid">
      <div class="row">
          <div class="col padding-10">
              <button type="button" class="btn btn-outline-primary">Success</button>
          </div>
          <div class="col-6">
          </div>
          <div class="col">
          </div>
      </div>
    </div>
</div>
<div id="content-general-container">
  <div id="generic_row_header" class="shadow-sm p-3">
      <div class="container-fluid">
          <div class="row">
            <div class="col-1">Nome</div>
            <div class="col-2">Morada</div>
            <div class="col-1">Cidade</div>
            <div class="col-2">NIF</div>
<!--             <div class="col-1">Código Ident.</div> -->
            <div class="col-2">Num telef.</div>
<!--             <div class="col-2">Email</div> -->
            <div class="col-1">Apelido</div>
            <div class="col-2">Data criaç.</div>
             <div class="col-1"></div> <!-- Buttons -->
          </div>
        </div>
  </div>
  <div id="generic_row" class="shadow-sm p-3 bg-white rounded"  *ngFor="let customer of dataSource">
      <div class="container-fluid">
          <div class="row">
            <div class="col-1">{{customer.NAME}}</div>
            <div class="col-2">{{customer.ADDRESS}}</div>
            <div class="col-1">{{customer.CITY_LOCATION}}</div>
            <div class="col-2">{{customer.FISCAL_CODE}}</div>
<!--             <div class="col-1">{{customer.IDENTITY_CARD}}</div> -->
            <div class="col-2">{{customer.PHONE_NUMBER}}</div>
<!--             <div class="col-2">{{customer.EMAIL_ADDRESS}}</div> -->
            <div class="col-1">{{customer.NICKNAME}}</div>
            <div class="col-2">{{customer.CREATED_DATE}}</div>
 <!--            <div class="col-1">{{customer.MODIFIED_DATE}}</div> -->
            <div class="col-1">
              <i class="btn btn-warning btn-sm" (click)="delete(customer)">Details</i>
            </div>
          </div>
      </div>
  </div>
</div>
