<div id="actions">
	<div class="row">
		<div class="col-md-12">
			<div class="header-actions">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="button-wrap col-md-4">
									<span class="button-inner-wrap">
									</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6 vert-spacer"></div>
							<div class="col-md-6">
								<div class="search-wrap">
									<input type="text" name="Pesquisa" ng-model="searchChar" placeholder=" Pesquisar"  [(ngModel)]="searchText">  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="content-general-container">
  <div id="generic_row_header" class="shadow-sm">
      <div class="container-fluid">
          <div class="row">
            <div class="col-2">Nome</div>
            <div class="col-3">Morada</div>
            <div class="col-2">Cidade</div>
            <div class="col-1">NIF</div>
<!--             <div class="col-1">Código Ident.</div> -->
            <div class="col-1">Num telef.</div>
<!--             <div class="col-2">Email</div> -->
            <div class="col-1">Apelido</div>
<!--             <div class="col-2">Data criaç.</div> -->
             <div class="col-2"></div> <!-- Buttons -->
          </div>
        </div>
  </div>
  <div id="generic_row" class="shadow-sm bg-white rounded"  *ngFor="let customer of dataSource | filter: searchText">
      <div class="container-fluid">
          <div class="row">
            <div class="col-2">{{customer.NAME}}</div>
            <div class="col-3">{{customer.ADDRESS}}</div>
            <div class="col-2">{{customer.CITY_LOCATION}}</div>
            <div class="col-1">{{customer.FISCAL_CODE}}</div>
<!--             <div class="col-1">{{customer.IDENTITY_CARD}}</div> -->
            <div class="col-1">{{customer.PHONE_NUMBER}}</div>
<!--             <div class="col-2">{{customer.EMAIL_ADDRESS}}</div> -->
            <div class="col-1">{{customer.NICKNAME}}</div>
<!--             <div class="col-2">{{customer.CREATED_DATE}}</div> -->
 <!--            <div class="col-1">{{customer.MODIFIED_DATE}}</div> -->
            <div class="col-2">
              <a class="btn btn-sm" (click)="customerDetails(customer)" title="Ver detalhes do Cliente">
                <img src="assets/eye.svg"  width="28px" height="28px" />
              </a>
              <i class="btn btn-warning btn-sm center_button" (click)="openModal('custom-modal-2')">Modal</i>
            </div>
          </div>
      </div>
  </div>
</div>
<jw-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
<jw-modal id="custom-modal-2">
  <div class="row" style="border-bottom: thick; border-color: red; border-style: none none solid none;margin-bottom: 30px;">
    <h4>A Custom Modal!</h4>
  </div>
  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>