@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 28px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .button-side-by-side {
    margin-left:3px;
     display:inline;
   }

   #buttondiv {
    width: 100%;
    text-align: center;
  }
  .mat-header-cell, .mat-sort-header {
    background-color: rgb(210, 235, 255);
    font-weight: bold;
  }

  .mat-cell, .mat-header-cell { 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }